﻿@using TravelerPortal.WebUI.Helpers
@using TravelerPortal.Services
@{
    var randomQuote = QuotesService.GetRandom();
    var randomOpinion = OpinionsService.GetRandom();
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul&nbsp;Travel</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    @RenderStyles()
    @RenderHeaderScripts()
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div class="picture-film">
                @{ Html.RenderAction("RandomAlbumsPicturesHeader", "Photogallery", new { area = string.Empty }); }
            </div>
            <div class="opinion">
                <img class="photo" src="@randomOpinion.Thumbnail">
                <div class="response">@randomOpinion.Text</div>
            </div>
        </div>
        <div id="content-wrap">
            <a href="~/" class="logo-link">
                <h1 id="logo"><span class="green">soul</span>travel</h1>
                <h2 id="slogan">путешествия со смыслом<br>
                    путешествия для души</h2>
            </a>
            <img src="~/Content/img/headerphoto.jpg" class="no-border" />
            <div id="sidebar">
                <ul class="sidemenu">
                    @Html.BuildMainMenuItems(Url, (string)ViewBag.ActiveMainMenuItemTitle)
                </ul>
                <div class="wise-words">
                    <p>&quot;@randomQuote.Text&quot;</p>
                    <div class="author">@randomQuote.Author</div>
                </div>
            </div>
            <div id="main">
                @RenderBody()
            </div>
            <div id="rightbar">
                <h1>Новости</h1>
                @{ Html.RenderAction("NewsSidebar", "News", new { area = string.Empty }); }
                <h1>Мероприятия<a href="@Url.RouteUrl("EventSchedule")" style="float: right; font-size: 12px; color: cornflowerblue; text-decoration: underline; line-height: 23px;">расписание</a></h1>
                @{ Html.RenderAction("EventsSidebar", "Events", new { area = string.Empty }); }
            </div>
        </div>
        <div id="footer">
            <div class="footer-left">
                <p class="align-left">&copy;&nbsp;2013&nbsp;<strong>Soul&nbsp;Travel</strong></p>
            </div>
            <div class="footer-right">
                @* TODO: appropriate links here
                    <p class="align-right"><a href="javascript:void(0)">Home</a>&nbsp;|&nbsp; <a href="javascript:void(0)">SiteMap</a>&nbsp;|&nbsp; <a href="javascript:void(0)">RSS Feed</a> </p>
                *@
            </div>
        </div>
    </div>
    @RenderFooterScripts()
</body>
</html>

@helper RenderStyles()
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/base.css" />
    @RenderSection("Styles", false)
}

@helper RenderHeaderScripts()
{
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script>
        $.cookie("timeZoneOffset", new Date().getTimezoneOffset() * -1, { path: "/" });
    </script>
    @RenderSection("HeaderScripts", false)
}

@helper RenderFooterScripts()
{
    <script>
        function notImplemented() {
            alert("Извините за неудобства. Находится в разработке.");
        };
        function stringifyDateTime(datetime) {
            var addLeadingZeroSymbolIfNeeded = function (number) {
                if (number < 10) {
                    return "0" + number;
                } else {
                    return number;
                }
            };
            var strDate = datetime.getFullYear() + "-" + addLeadingZeroSymbolIfNeeded((datetime.getMonth() + 1)) + "-" + addLeadingZeroSymbolIfNeeded(datetime.getDate());
            var strTime = addLeadingZeroSymbolIfNeeded(datetime.getHours()) + ":" + addLeadingZeroSymbolIfNeeded(datetime.getMinutes());
            return strDate + " " + strTime;
        };
        var server = {
            configurations: {},
            routeUrls: {}
        };
    </script>
    @RenderSection("FooterScripts", false)
}